$dark: #1F2041;
$dark-grey: rgba(31, 32, 65, 0.75);
$light-grey: rgba(31, 32, 65, 0.5);
$primary: #BC9CFF;
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

$main-bg: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);